<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결제 데모 테스트</title>
</head>
<body>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

    <h1>데모 결제 테스트 </h1>
    <button onclick="requestPay()">결제하기</button>


    <script>
        function requestPay() {

            IMP.init("imp81677422"); // 예: imp00000000


            // IMP.request_pay(param, callback) 결제창 호출
            IMP.request_pay({ // param
                pg: "kakaopay",
                pay_method: "card",
                merchant_uid: "ORDER" + Date.now(),
                name: "명품신발",
                amount: 100000,
                buyer_email: "test@naver.com",
                buyer_name: "홍길동",
                buyer_tel: "010-4242-4242",
                buyer_addr: "서울특별시 강남구 신사동",
                buyer_postcode: "01181"
            }, function (rsp) { // callback
                if (rsp.success) {
                    alert("imp_uid ===== >" + rsp.imp_uid + " //// rsp.merchant_uid =========>" + rsp.merchant_uid);
                    jQuery.ajax({
                        url: "http://localhost:8080/pay/complete",
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        data: JSON.stringify({
                            imp_uid: rsp.imp_uid,
                            merchant_uid: rsp.merchant_uid
                        }),
                    }).done(function (data) {
                        // 가맹점 서버 결제 API 성공시 로직
                    })

                } else {
                    alert("결제에 실패하였습니다. 에러 내용: " +  rsp.error_msg);

                }
            });
        }
    </script>


</body>
</html>